
li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
    list-style-type: none;
    font-family: 'Gloria Hallelujah', cursive;
  }
  
  .label {
    font-weight: bold;
    text-align: center;
    width: 50%;
  }
  
  .create-update-form, .burgerName {
    padding: 5px;
    margin: 5px;
    background: orange;
    text-align: center;

  }
  
  .form-group {
    margin-bottom: 5px;
  }
  ul{
      padding-left:3px;
  }

  